@import url(wrapper.module.css);
@import url(header.module.css);
@import url(footer.module.css);
@import url(link.module.css);
@import url(news-card.module.css);
@import url(news-category.module.css);

h2 {
  text-align: center;
}

.header-image {
  margin: auto;
  width: clamp(160px, 80%, 640px);
}

figure {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font: var(--text-normal);
  padding: 1.5rem;
  line-height: 3.2rem;
}

.subtitle {
  margin-left: 0.4rem;
}

.subtitle > span {
  font-weight: bold;
  color: var(--primary);
}

blockquote {
  font: var(--text-normal);
  border-left: 0.2rem solid var(--primary);
  padding-left: 0.4rem;
}

cite::before {
  content: "—";
}

.fa-brands {
  font-size: 1.6rem;
  transition: 0.5s linear;
  margin: 0.2rem;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .fa-brands:hover {
    transform: rotate(360deg) scale(1.2);
  }
}

.fa-twitter {
  color: #1da1f2;
}

.fa-facebook {
  color: #1877f2;
}
.fa-linkedin {
  color: #0077b5;
}
