@import url(wrapper.module.css);
@import url(header.module.css);
@import url(footer.module.css);
@import url(link.module.css);
@import url(news-card.module.css);
@import url(news-category.module.css);

.headline {
  background-image: url("https://cdn.pixabay.com/photo/2015/03/17/02/01/cubes-677092_960_720.png");
  background-size: cover;
  width: 100%;
  height: clamp(240px, 50vh, 320px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--primary);
  box-shadow: 0 0 1px;
  margin-top: 4px;
  color: var(--dark-color);
  transition: 0.3s linear;
}
.headline:hover {
  color: var(--primary);
  text-decoration: none;
}

.info {
  width: 100%;
  background-color: white;
}

.date {
  font: var(--text-small);
  font-weight: bold;
}
